=begin
#API V1

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module GetIntoTeachingApiClient
  class GetIntoTeachingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Schedule a callback for a candidate.
    # Queues a candidate upsert job.
    # @param get_into_teaching_callback [GetIntoTeachingCallback] Candidate callback details.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def book_get_into_teaching_callback(get_into_teaching_callback, opts = {})
      book_get_into_teaching_callback_with_http_info(get_into_teaching_callback, opts)
      nil
    end

    # Schedule a callback for a candidate.
    # Queues a candidate upsert job.
    # @param get_into_teaching_callback [GetIntoTeachingCallback] Candidate callback details.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def book_get_into_teaching_callback_with_http_info(get_into_teaching_callback, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GetIntoTeachingApi.book_get_into_teaching_callback ...'
      end
      # verify the required parameter 'get_into_teaching_callback' is set
      if @api_client.config.client_side_validation && get_into_teaching_callback.nil?
        fail ArgumentError, "Missing the required parameter 'get_into_teaching_callback' when calling GetIntoTeachingApi.book_get_into_teaching_callback"
      end
      # resource path
      local_var_path = '/api/get_into_teaching/callbacks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_into_teaching_callback)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GetIntoTeachingApi.book_get_into_teaching_callback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GetIntoTeachingApi#book_get_into_teaching_callback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Exchange an access token for a full candidate sign-up.
    # Exchanges an access token for a candidate's details to pre-populate a sign-up form.
    # @param access_token [String] The access token to exchange.
    # @param existing_candidate_request [ExistingCandidateRequest] Candidate details to exchange.
    # @param [Hash] opts the optional parameters
    # @return [GetIntoTeachingCallback]
    def exchange_access_token_for_get_into_teaching_callback(access_token, existing_candidate_request, opts = {})
      data, _status_code, _headers = exchange_access_token_for_get_into_teaching_callback_with_http_info(access_token, existing_candidate_request, opts)
      data
    end

    # Exchange an access token for a full candidate sign-up.
    # Exchanges an access token for a candidate&#39;s details to pre-populate a sign-up form.
    # @param access_token [String] The access token to exchange.
    # @param existing_candidate_request [ExistingCandidateRequest] Candidate details to exchange.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetIntoTeachingCallback, Integer, Hash)>] GetIntoTeachingCallback data, response status code and response headers
    def exchange_access_token_for_get_into_teaching_callback_with_http_info(access_token, existing_candidate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GetIntoTeachingApi.exchange_access_token_for_get_into_teaching_callback ...'
      end
      # verify the required parameter 'access_token' is set
      if @api_client.config.client_side_validation && access_token.nil?
        fail ArgumentError, "Missing the required parameter 'access_token' when calling GetIntoTeachingApi.exchange_access_token_for_get_into_teaching_callback"
      end
      # verify the required parameter 'existing_candidate_request' is set
      if @api_client.config.client_side_validation && existing_candidate_request.nil?
        fail ArgumentError, "Missing the required parameter 'existing_candidate_request' when calling GetIntoTeachingApi.exchange_access_token_for_get_into_teaching_callback"
      end
      # resource path
      local_var_path = '/api/get_into_teaching/candidates/exchange_access_token/{accessToken}'.sub('{' + 'accessToken' + '}', CGI.escape(access_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(existing_candidate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetIntoTeachingCallback'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GetIntoTeachingApi.exchange_access_token_for_get_into_teaching_callback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GetIntoTeachingApi#exchange_access_token_for_get_into_teaching_callback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Perform a matchback operation to retrieve a pre-populated sign up for the candidate.
    # Retrieves an existing candidate record based on the provided details.
    # @param existing_candidate_request [ExistingCandidateRequest] Candidate details to matchback.
    # @param [Hash] opts the optional parameters
    # @return [GetIntoTeachingCallback]
    def matchback_get_into_teaching_callback(existing_candidate_request, opts = {})
      data, _status_code, _headers = matchback_get_into_teaching_callback_with_http_info(existing_candidate_request, opts)
      data
    end

    # Perform a matchback operation to retrieve a pre-populated sign up for the candidate.
    # Retrieves an existing candidate record based on the provided details.
    # @param existing_candidate_request [ExistingCandidateRequest] Candidate details to matchback.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetIntoTeachingCallback, Integer, Hash)>] GetIntoTeachingCallback data, response status code and response headers
    def matchback_get_into_teaching_callback_with_http_info(existing_candidate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GetIntoTeachingApi.matchback_get_into_teaching_callback ...'
      end
      # verify the required parameter 'existing_candidate_request' is set
      if @api_client.config.client_side_validation && existing_candidate_request.nil?
        fail ArgumentError, "Missing the required parameter 'existing_candidate_request' when calling GetIntoTeachingApi.matchback_get_into_teaching_callback"
      end
      # resource path
      local_var_path = '/api/get_into_teaching/matchbacks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(existing_candidate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetIntoTeachingCallback'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GetIntoTeachingApi.matchback_get_into_teaching_callback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GetIntoTeachingApi#matchback_get_into_teaching_callback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
