=begin
#API V1

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module GetIntoTeachingApiClient
  class MailingListApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Adds a new member to the mailing list.
    # If the candidate_id is specified then the existing candidate will be added to the mailing list, otherwise a new candidate will be created. 
    # @param mailing_list_add_member [MailingListAddMember] Member to add to the mailing list.
    # @param [Hash] opts the optional parameters
    # @return [DegreeStatusResponse]
    def add_mailing_list_member(mailing_list_add_member, opts = {})
      data, _status_code, _headers = add_mailing_list_member_with_http_info(mailing_list_add_member, opts)
      data
    end

    # Adds a new member to the mailing list.
    # If the candidate_id is specified then the existing candidate will be added to the mailing list, otherwise a new candidate will be created. 
    # @param mailing_list_add_member [MailingListAddMember] Member to add to the mailing list.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DegreeStatusResponse, Integer, Hash)>] DegreeStatusResponse data, response status code and response headers
    def add_mailing_list_member_with_http_info(mailing_list_add_member, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailingListApi.add_mailing_list_member ...'
      end
      # verify the required parameter 'mailing_list_add_member' is set
      if @api_client.config.client_side_validation && mailing_list_add_member.nil?
        fail ArgumentError, "Missing the required parameter 'mailing_list_add_member' when calling MailingListApi.add_mailing_list_member"
      end
      # resource path
      local_var_path = '/api/mailing_list/members'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mailing_list_add_member)

      # return_type
      return_type = opts[:debug_return_type] || 'DegreeStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailingListApi.add_mailing_list_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailingListApi#add_mailing_list_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Exchange an access token for a mailing list member sign-up.
    # @param access_token [String] The access token to exchange.
    # @param existing_candidate_request [ExistingCandidateRequest] Candidate details to exchange.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def exchange_access_token_for_mailing_list_add_member(access_token, existing_candidate_request, opts = {})
      data, _status_code, _headers = exchange_access_token_for_mailing_list_add_member_with_http_info(access_token, existing_candidate_request, opts)
      data
    end

    # Exchange an access token for a mailing list member sign-up.
    # @param access_token [String] The access token to exchange.
    # @param existing_candidate_request [ExistingCandidateRequest] Candidate details to exchange.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def exchange_access_token_for_mailing_list_add_member_with_http_info(access_token, existing_candidate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailingListApi.exchange_access_token_for_mailing_list_add_member ...'
      end
      # verify the required parameter 'access_token' is set
      if @api_client.config.client_side_validation && access_token.nil?
        fail ArgumentError, "Missing the required parameter 'access_token' when calling MailingListApi.exchange_access_token_for_mailing_list_add_member"
      end
      # verify the required parameter 'existing_candidate_request' is set
      if @api_client.config.client_side_validation && existing_candidate_request.nil?
        fail ArgumentError, "Missing the required parameter 'existing_candidate_request' when calling MailingListApi.exchange_access_token_for_mailing_list_add_member"
      end
      # resource path
      local_var_path = '/api/mailing_list/members/exchange_access_token/{accessToken}'.sub('{' + 'accessToken' + '}', CGI.escape(access_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(existing_candidate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailingListApi.exchange_access_token_for_mailing_list_add_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailingListApi#exchange_access_token_for_mailing_list_add_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
