=begin
#Get into Teaching API - V1

#                             Provides a RESTful API for integrating with the Get into Teaching CRM.                             The Get into Teaching (GIT) API sits in front of the GIT CRM, which uses the [Microsoft Dynamics365](https://docs.microsoft.com/en-us/dynamics365/) platform (the [Customer Engagement](https://docs.microsoft.com/en-us/dynamics365/customerengagement/on-premises/developer/overview) module is used for storing Candidate information and the [Marketing](https://docs.microsoft.com/en-us/dynamics365/marketing/developer/using-events-api) module for managing Events).                             The GIT API aims to provide:                             * Simple, task-based RESTful APIs.                             * Message queueing (while the GIT CRM is offline for updates).                             * Validation to ensure consistency across services writing to the GIT CRM.                         

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module GetIntoTeachingApiClient
  class MailingListApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Adds a new member to the mailing list.
    #          If the `CandidateId` is specified then the existing candidate will be          added to the mailing list, otherwise a new candidate will be created.
    # @param mailing_list_add_member [MailingListAddMember] Member to add to the mailing list.
    # @param [Hash] opts the optional parameters
    # @return [DegreeStatusResponse]
    def add_mailing_list_member(mailing_list_add_member, opts = {})
      data, _status_code, _headers = add_mailing_list_member_with_http_info(mailing_list_add_member, opts)
      data
    end

    # Adds a new member to the mailing list.
    #          If the &#x60;CandidateId&#x60; is specified then the existing candidate will be          added to the mailing list, otherwise a new candidate will be created.
    # @param mailing_list_add_member [MailingListAddMember] Member to add to the mailing list.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DegreeStatusResponse, Integer, Hash)>] DegreeStatusResponse data, response status code and response headers
    def add_mailing_list_member_with_http_info(mailing_list_add_member, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailingListApi.add_mailing_list_member ...'
      end
      # verify the required parameter 'mailing_list_add_member' is set
      if @api_client.config.client_side_validation && mailing_list_add_member.nil?
        fail ArgumentError, "Missing the required parameter 'mailing_list_add_member' when calling MailingListApi.add_mailing_list_member"
      end
      # resource path
      local_var_path = '/api/mailing_list/members'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mailing_list_add_member)

      # return_type
      return_type = opts[:debug_return_type] || 'DegreeStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKey']

      new_options = opts.merge(
        :operation => :"MailingListApi.add_mailing_list_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailingListApi#add_mailing_list_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves a pre-populated MailingListAddMember for the candidate.
    #                  Retrieves a pre-populated MailingListAddMember for the candidate. The `accessToken` is obtained from a                  `POST /candidates/access_tokens` request (you must also ensure the `ExistingCandidateRequest` payload you                  exchanged for your token matches the request payload here).
    # @param access_token [String] Access token (PIN code).
    # @param existing_candidate_request [ExistingCandidateRequest] Candidate access token request (must match an existing candidate).
    # @param [Hash] opts the optional parameters
    # @return [MailingListAddMember]
    def exchange_access_token_for_mailing_list_add_member(access_token, existing_candidate_request, opts = {})
      data, _status_code, _headers = exchange_access_token_for_mailing_list_add_member_with_http_info(access_token, existing_candidate_request, opts)
      data
    end

    # Retrieves a pre-populated MailingListAddMember for the candidate.
    #                  Retrieves a pre-populated MailingListAddMember for the candidate. The &#x60;accessToken&#x60; is obtained from a                  &#x60;POST /candidates/access_tokens&#x60; request (you must also ensure the &#x60;ExistingCandidateRequest&#x60; payload you                  exchanged for your token matches the request payload here).
    # @param access_token [String] Access token (PIN code).
    # @param existing_candidate_request [ExistingCandidateRequest] Candidate access token request (must match an existing candidate).
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailingListAddMember, Integer, Hash)>] MailingListAddMember data, response status code and response headers
    def exchange_access_token_for_mailing_list_add_member_with_http_info(access_token, existing_candidate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailingListApi.exchange_access_token_for_mailing_list_add_member ...'
      end
      # verify the required parameter 'access_token' is set
      if @api_client.config.client_side_validation && access_token.nil?
        fail ArgumentError, "Missing the required parameter 'access_token' when calling MailingListApi.exchange_access_token_for_mailing_list_add_member"
      end
      # verify the required parameter 'existing_candidate_request' is set
      if @api_client.config.client_side_validation && existing_candidate_request.nil?
        fail ArgumentError, "Missing the required parameter 'existing_candidate_request' when calling MailingListApi.exchange_access_token_for_mailing_list_add_member"
      end
      # resource path
      local_var_path = '/api/mailing_list/members/exchange_access_token/{accessToken}'.sub('{' + 'accessToken' + '}', CGI.escape(access_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(existing_candidate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailingListAddMember'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKey']

      new_options = opts.merge(
        :operation => :"MailingListApi.exchange_access_token_for_mailing_list_add_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailingListApi#exchange_access_token_for_mailing_list_add_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves a pre-populated MailingListAddMember for the candidate.
    #                  Retrieves a pre-populated MailingListAddMember for the candidate. The `magicLinkToken` is obtained from a                  `POST /candidates/magic_link_tokens` request.
    # @param magic_link_token [String] Magic link token.
    # @param [Hash] opts the optional parameters
    # @return [MailingListAddMember]
    def exchange_magic_link_token_for_mailing_list_add_member(magic_link_token, opts = {})
      data, _status_code, _headers = exchange_magic_link_token_for_mailing_list_add_member_with_http_info(magic_link_token, opts)
      data
    end

    # Retrieves a pre-populated MailingListAddMember for the candidate.
    #                  Retrieves a pre-populated MailingListAddMember for the candidate. The &#x60;magicLinkToken&#x60; is obtained from a                  &#x60;POST /candidates/magic_link_tokens&#x60; request.
    # @param magic_link_token [String] Magic link token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailingListAddMember, Integer, Hash)>] MailingListAddMember data, response status code and response headers
    def exchange_magic_link_token_for_mailing_list_add_member_with_http_info(magic_link_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailingListApi.exchange_magic_link_token_for_mailing_list_add_member ...'
      end
      # verify the required parameter 'magic_link_token' is set
      if @api_client.config.client_side_validation && magic_link_token.nil?
        fail ArgumentError, "Missing the required parameter 'magic_link_token' when calling MailingListApi.exchange_magic_link_token_for_mailing_list_add_member"
      end
      # resource path
      local_var_path = '/api/mailing_list/members/exchange_magic_link_token/{magicLinkToken}'.sub('{' + 'magicLinkToken' + '}', CGI.escape(magic_link_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailingListAddMember'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MailingListApi.exchange_magic_link_token_for_mailing_list_add_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailingListApi#exchange_magic_link_token_for_mailing_list_add_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
