=begin
#API V1

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module GetIntoTeachingApiClient
  class SchoolsExperienceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Adds a school experience to a candidate.
    # @param id [String] The id of the candidate.
    # @param candidate_school_experience [CandidateSchoolExperience] School experience details to add.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def add_school_experience(id, candidate_school_experience, opts = {})
      add_school_experience_with_http_info(id, candidate_school_experience, opts)
      nil
    end

    # Adds a school experience to a candidate.
    # @param id [String] The id of the candidate.
    # @param candidate_school_experience [CandidateSchoolExperience] School experience details to add.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def add_school_experience_with_http_info(id, candidate_school_experience, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchoolsExperienceApi.add_school_experience ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchoolsExperienceApi.add_school_experience"
      end
      # verify the required parameter 'candidate_school_experience' is set
      if @api_client.config.client_side_validation && candidate_school_experience.nil?
        fail ArgumentError, "Missing the required parameter 'candidate_school_experience' when calling SchoolsExperienceApi.add_school_experience"
      end
      # resource path
      local_var_path = '/api/schools_experience/candidates/{id}/school_experience'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(candidate_school_experience)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SchoolsExperienceApi.add_school_experience",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchoolsExperienceApi#add_school_experience\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Exchange an access token for a full candidate sign-up.
    # Exchanges an access token for a candidate's details to pre-populate a sign-up form.
    # @param access_token [String] The access token to exchange.
    # @param existing_candidate_request [ExistingCandidateRequest] Candidate details to exchange.
    # @param [Hash] opts the optional parameters
    # @return [SchoolsExperienceSignUp]
    def exchange_access_token_for_schools_experience_sign_up(access_token, existing_candidate_request, opts = {})
      data, _status_code, _headers = exchange_access_token_for_schools_experience_sign_up_with_http_info(access_token, existing_candidate_request, opts)
      data
    end

    # Exchange an access token for a full candidate sign-up.
    # Exchanges an access token for a candidate&#39;s details to pre-populate a sign-up form.
    # @param access_token [String] The access token to exchange.
    # @param existing_candidate_request [ExistingCandidateRequest] Candidate details to exchange.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchoolsExperienceSignUp, Integer, Hash)>] SchoolsExperienceSignUp data, response status code and response headers
    def exchange_access_token_for_schools_experience_sign_up_with_http_info(access_token, existing_candidate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchoolsExperienceApi.exchange_access_token_for_schools_experience_sign_up ...'
      end
      # verify the required parameter 'access_token' is set
      if @api_client.config.client_side_validation && access_token.nil?
        fail ArgumentError, "Missing the required parameter 'access_token' when calling SchoolsExperienceApi.exchange_access_token_for_schools_experience_sign_up"
      end
      # verify the required parameter 'existing_candidate_request' is set
      if @api_client.config.client_side_validation && existing_candidate_request.nil?
        fail ArgumentError, "Missing the required parameter 'existing_candidate_request' when calling SchoolsExperienceApi.exchange_access_token_for_schools_experience_sign_up"
      end
      # resource path
      local_var_path = '/api/schools_experience/candidates/exchange_access_token/{accessToken}'.sub('{' + 'accessToken' + '}', CGI.escape(access_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(existing_candidate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SchoolsExperienceSignUp'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SchoolsExperienceApi.exchange_access_token_for_schools_experience_sign_up",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchoolsExperienceApi#exchange_access_token_for_schools_experience_sign_up\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves a candidate for the Schools Experience service.
    # @param id [String] The id of the candidate.
    # @param [Hash] opts the optional parameters
    # @return [SchoolsExperienceSignUp]
    def get_schools_experience_candidate(id, opts = {})
      data, _status_code, _headers = get_schools_experience_candidate_with_http_info(id, opts)
      data
    end

    # Retrieves a candidate for the Schools Experience service.
    # @param id [String] The id of the candidate.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchoolsExperienceSignUp, Integer, Hash)>] SchoolsExperienceSignUp data, response status code and response headers
    def get_schools_experience_candidate_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchoolsExperienceApi.get_schools_experience_candidate ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchoolsExperienceApi.get_schools_experience_candidate"
      end
      # resource path
      local_var_path = '/api/schools_experience/candidates/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SchoolsExperienceSignUp'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SchoolsExperienceApi.get_schools_experience_candidate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchoolsExperienceApi#get_schools_experience_candidate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves existing SchoolsExperienceSignUps for the candidate ids.
    # @param ids [Array<String>] A collection of Candidate ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<SchoolsExperienceSignUp>]
    def get_schools_experience_sign_ups(ids, opts = {})
      data, _status_code, _headers = get_schools_experience_sign_ups_with_http_info(ids, opts)
      data
    end

    # Retrieves existing SchoolsExperienceSignUps for the candidate ids.
    # @param ids [Array<String>] A collection of Candidate ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<SchoolsExperienceSignUp>, Integer, Hash)>] Array<SchoolsExperienceSignUp> data, response status code and response headers
    def get_schools_experience_sign_ups_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchoolsExperienceApi.get_schools_experience_sign_ups ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling SchoolsExperienceApi.get_schools_experience_sign_ups"
      end
      # resource path
      local_var_path = '/api/schools_experience/candidates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SchoolsExperienceSignUp>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SchoolsExperienceApi.get_schools_experience_sign_ups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchoolsExperienceApi#get_schools_experience_sign_ups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new candidate for the Schools Experience service.
    # @param schools_experience_sign_up [SchoolsExperienceSignUp] Candidate to create for the Schools Experience service.
    # @param [Hash] opts the optional parameters
    # @return [SchoolsExperienceSignUp]
    def sign_up_schools_experience_candidate(schools_experience_sign_up, opts = {})
      data, _status_code, _headers = sign_up_schools_experience_candidate_with_http_info(schools_experience_sign_up, opts)
      data
    end

    # Creates a new candidate for the Schools Experience service.
    # @param schools_experience_sign_up [SchoolsExperienceSignUp] Candidate to create for the Schools Experience service.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchoolsExperienceSignUp, Integer, Hash)>] SchoolsExperienceSignUp data, response status code and response headers
    def sign_up_schools_experience_candidate_with_http_info(schools_experience_sign_up, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchoolsExperienceApi.sign_up_schools_experience_candidate ...'
      end
      # verify the required parameter 'schools_experience_sign_up' is set
      if @api_client.config.client_side_validation && schools_experience_sign_up.nil?
        fail ArgumentError, "Missing the required parameter 'schools_experience_sign_up' when calling SchoolsExperienceApi.sign_up_schools_experience_candidate"
      end
      # resource path
      local_var_path = '/api/schools_experience/candidates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schools_experience_sign_up)

      # return_type
      return_type = opts[:debug_return_type] || 'SchoolsExperienceSignUp'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SchoolsExperienceApi.sign_up_schools_experience_candidate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchoolsExperienceApi#sign_up_schools_experience_candidate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
