=begin
#API V1

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module GetIntoTeachingApiClient
  class TeacherTrainingAdviserApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Exchange an access token for a full candidate sign-up.
    # @param access_token [String] The access token to exchange.
    # @param existing_candidate_request [ExistingCandidateRequest] Candidate details to exchange.
    # @param [Hash] opts the optional parameters
    # @return [TeacherTrainingAdviserSignUp]
    def exchange_access_token_for_teacher_training_adviser_sign_up(access_token, existing_candidate_request, opts = {})
      data, _status_code, _headers = exchange_access_token_for_teacher_training_adviser_sign_up_with_http_info(access_token, existing_candidate_request, opts)
      data
    end

    # Exchange an access token for a full candidate sign-up.
    # @param access_token [String] The access token to exchange.
    # @param existing_candidate_request [ExistingCandidateRequest] Candidate details to exchange.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TeacherTrainingAdviserSignUp, Integer, Hash)>] TeacherTrainingAdviserSignUp data, response status code and response headers
    def exchange_access_token_for_teacher_training_adviser_sign_up_with_http_info(access_token, existing_candidate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeacherTrainingAdviserApi.exchange_access_token_for_teacher_training_adviser_sign_up ...'
      end
      # verify the required parameter 'access_token' is set
      if @api_client.config.client_side_validation && access_token.nil?
        fail ArgumentError, "Missing the required parameter 'access_token' when calling TeacherTrainingAdviserApi.exchange_access_token_for_teacher_training_adviser_sign_up"
      end
      # verify the required parameter 'existing_candidate_request' is set
      if @api_client.config.client_side_validation && existing_candidate_request.nil?
        fail ArgumentError, "Missing the required parameter 'existing_candidate_request' when calling TeacherTrainingAdviserApi.exchange_access_token_for_teacher_training_adviser_sign_up"
      end
      # resource path
      local_var_path = '/api/teacher_training_adviser/candidates/exchange_access_token/{accessToken}'.sub('{' + 'accessToken' + '}', CGI.escape(access_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(existing_candidate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TeacherTrainingAdviserSignUp'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TeacherTrainingAdviserApi.exchange_access_token_for_teacher_training_adviser_sign_up",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeacherTrainingAdviserApi#exchange_access_token_for_teacher_training_adviser_sign_up\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Perform a matchback operation to retrieve a pre-populated sign up for the candidate.
    # @param existing_candidate_request [ExistingCandidateRequest] Candidate details to matchback.
    # @param [Hash] opts the optional parameters
    # @return [TeacherTrainingAdviserSignUp]
    def matchback_candidate(existing_candidate_request, opts = {})
      data, _status_code, _headers = matchback_candidate_with_http_info(existing_candidate_request, opts)
      data
    end

    # Perform a matchback operation to retrieve a pre-populated sign up for the candidate.
    # @param existing_candidate_request [ExistingCandidateRequest] Candidate details to matchback.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TeacherTrainingAdviserSignUp, Integer, Hash)>] TeacherTrainingAdviserSignUp data, response status code and response headers
    def matchback_candidate_with_http_info(existing_candidate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeacherTrainingAdviserApi.matchback_candidate ...'
      end
      # verify the required parameter 'existing_candidate_request' is set
      if @api_client.config.client_side_validation && existing_candidate_request.nil?
        fail ArgumentError, "Missing the required parameter 'existing_candidate_request' when calling TeacherTrainingAdviserApi.matchback_candidate"
      end
      # resource path
      local_var_path = '/api/teacher_training_adviser/matchbacks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(existing_candidate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TeacherTrainingAdviserSignUp'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TeacherTrainingAdviserApi.matchback_candidate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeacherTrainingAdviserApi#matchback_candidate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sign up a candidate for the Teacher Training Adviser service.
    # @param teacher_training_adviser_sign_up [TeacherTrainingAdviserSignUp] Candidate to sign up for the Teacher Training Adviser service.
    # @param [Hash] opts the optional parameters
    # @return [DegreeStatusResponse]
    def sign_up_teacher_training_adviser_candidate(teacher_training_adviser_sign_up, opts = {})
      data, _status_code, _headers = sign_up_teacher_training_adviser_candidate_with_http_info(teacher_training_adviser_sign_up, opts)
      data
    end

    # Sign up a candidate for the Teacher Training Adviser service.
    # @param teacher_training_adviser_sign_up [TeacherTrainingAdviserSignUp] Candidate to sign up for the Teacher Training Adviser service.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DegreeStatusResponse, Integer, Hash)>] DegreeStatusResponse data, response status code and response headers
    def sign_up_teacher_training_adviser_candidate_with_http_info(teacher_training_adviser_sign_up, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeacherTrainingAdviserApi.sign_up_teacher_training_adviser_candidate ...'
      end
      # verify the required parameter 'teacher_training_adviser_sign_up' is set
      if @api_client.config.client_side_validation && teacher_training_adviser_sign_up.nil?
        fail ArgumentError, "Missing the required parameter 'teacher_training_adviser_sign_up' when calling TeacherTrainingAdviserApi.sign_up_teacher_training_adviser_candidate"
      end
      # resource path
      local_var_path = '/api/teacher_training_adviser/candidates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(teacher_training_adviser_sign_up)

      # return_type
      return_type = opts[:debug_return_type] || 'DegreeStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TeacherTrainingAdviserApi.sign_up_teacher_training_adviser_candidate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeacherTrainingAdviserApi#sign_up_teacher_training_adviser_candidate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
