=begin
#API V1

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module GetIntoTeachingApiClient
  class TeachingEventsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieves a teaching event.
    # @param readable_id [String] The readable ID of the teaching event.
    # @param [Hash] opts the optional parameters
    # @return [TeachingEvent]
    def get_teaching_event(readable_id, opts = {})
      data, _status_code, _headers = get_teaching_event_with_http_info(readable_id, opts)
      data
    end

    # Retrieves a teaching event.
    # @param readable_id [String] The readable ID of the teaching event.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TeachingEvent, Integer, Hash)>] TeachingEvent data, response status code and response headers
    def get_teaching_event_with_http_info(readable_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeachingEventsApi.get_teaching_event ...'
      end
      # verify the required parameter 'readable_id' is set
      if @api_client.config.client_side_validation && readable_id.nil?
        fail ArgumentError, "Missing the required parameter 'readable_id' when calling TeachingEventsApi.get_teaching_event"
      end
      # resource path
      local_var_path = '/api/teaching_events/{readable_id}'.sub('{' + 'readable_id' + '}', CGI.escape(readable_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TeachingEvent'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TeachingEventsApi.get_teaching_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeachingEventsApi#get_teaching_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Searches for teaching events.
    # Searches for teaching events. Optionally limit the results by distance (in miles) from a postcode, event type, start date, and more. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :postcode Postcode to center the search around.
    # @option opts [Integer] :radius Radius in miles to search around the postcode.
    # @option opts [Array<Integer>] :type_ids Filter by teaching event type IDs.
    # @option opts [Boolean] :online Set to true for online events, false for in-person events.
    # @option opts [Time] :start_after Filter to events starting after this date.
    # @option opts [Time] :start_before Filter to events starting before this date.
    # @option opts [Array<Integer>] :status_ids Filter by event status IDs.
    # @option opts [Array<Integer>] :accessibility_options Filter by accessibility option IDs.
    # @option opts [Integer] :quantity Maximum number of results to return. (default to 10)
    # @return [Array<TeachingEvent>]
    def search_teaching_events(opts = {})
      data, _status_code, _headers = search_teaching_events_with_http_info(opts)
      data
    end

    # Searches for teaching events.
    # Searches for teaching events. Optionally limit the results by distance (in miles) from a postcode, event type, start date, and more. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :postcode Postcode to center the search around.
    # @option opts [Integer] :radius Radius in miles to search around the postcode.
    # @option opts [Array<Integer>] :type_ids Filter by teaching event type IDs.
    # @option opts [Boolean] :online Set to true for online events, false for in-person events.
    # @option opts [Time] :start_after Filter to events starting after this date.
    # @option opts [Time] :start_before Filter to events starting before this date.
    # @option opts [Array<Integer>] :status_ids Filter by event status IDs.
    # @option opts [Array<Integer>] :accessibility_options Filter by accessibility option IDs.
    # @option opts [Integer] :quantity Maximum number of results to return. (default to 10)
    # @return [Array<(Array<TeachingEvent>, Integer, Hash)>] Array<TeachingEvent> data, response status code and response headers
    def search_teaching_events_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeachingEventsApi.search_teaching_events ...'
      end
      if @api_client.config.client_side_validation && !opts[:'radius'].nil? && opts[:'radius'] < 1
        fail ArgumentError, 'invalid value for "opts[:"radius"]" when calling TeachingEventsApi.search_teaching_events, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/teaching_events/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'postcode'] = opts[:'postcode'] if !opts[:'postcode'].nil?
      query_params[:'radius'] = opts[:'radius'] if !opts[:'radius'].nil?
      query_params[:'type_ids'] = @api_client.build_collection_param(opts[:'type_ids'], :multi) if !opts[:'type_ids'].nil?
      query_params[:'online'] = opts[:'online'] if !opts[:'online'].nil?
      query_params[:'start_after'] = opts[:'start_after'] if !opts[:'start_after'].nil?
      query_params[:'start_before'] = opts[:'start_before'] if !opts[:'start_before'].nil?
      query_params[:'status_ids'] = @api_client.build_collection_param(opts[:'status_ids'], :multi) if !opts[:'status_ids'].nil?
      query_params[:'accessibility_options'] = @api_client.build_collection_param(opts[:'accessibility_options'], :multi) if !opts[:'accessibility_options'].nil?
      query_params[:'quantity'] = opts[:'quantity'] if !opts[:'quantity'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TeachingEvent>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TeachingEventsApi.search_teaching_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeachingEventsApi#search_teaching_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Adds or updates a teaching event.
    # If the `id` is specified then the existing teaching event will be updated, otherwise a new teaching event will be created. 
    # @param teaching_event [TeachingEvent] Teaching event to upsert.
    # @param [Hash] opts the optional parameters
    # @return [TeachingEvent]
    def upsert_teaching_event(teaching_event, opts = {})
      data, _status_code, _headers = upsert_teaching_event_with_http_info(teaching_event, opts)
      data
    end

    # Adds or updates a teaching event.
    # If the &#x60;id&#x60; is specified then the existing teaching event will be updated, otherwise a new teaching event will be created. 
    # @param teaching_event [TeachingEvent] Teaching event to upsert.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TeachingEvent, Integer, Hash)>] TeachingEvent data, response status code and response headers
    def upsert_teaching_event_with_http_info(teaching_event, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeachingEventsApi.upsert_teaching_event ...'
      end
      # verify the required parameter 'teaching_event' is set
      if @api_client.config.client_side_validation && teaching_event.nil?
        fail ArgumentError, "Missing the required parameter 'teaching_event' when calling TeachingEventsApi.upsert_teaching_event"
      end
      # resource path
      local_var_path = '/api/teaching_events'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(teaching_event)

      # return_type
      return_type = opts[:debug_return_type] || 'TeachingEvent'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TeachingEventsApi.upsert_teaching_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeachingEventsApi#upsert_teaching_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
